@model global::Calculator.Web.Models.CalculatorModel

@{
    ViewBag.Title = "Multiply";
}

<h2>Multiply</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.X)
        @Html.TextBoxFor(m => m.X, new { @class = "form-control", placeholder = "Provide a number..." })
        @Html.ValidationMessageFor(m => m.X)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Y)
        @Html.TextBoxFor(m => m.Y, new { @class = "form-control", placeholder = "Provide another number..." })
        @Html.ValidationMessageFor(m => m.Y)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Result)
        @Html.TextBoxFor(m => m.Result, new { @class = "form-control", disabled = "disabled" })
    </div>
    <button type="submit" class="btn btn-default">Multiply</button>
}